.example-radio-group {
  display: flex;
}

.example-radio-button {
  margin: 5px;
}

.game-btn {
  height: 450px;
  border: none;
  width: 450px;
  border-radius: 50%;
  padding: 30px;
  background-color: greenyellow;
}

.game-btn__text {
  font-size: 40px;
}

